---
import Section from '@components/shared/Section/Section.astro'
import { ICONS_MAP } from '@components/shared/constants'
import SectionTitle from '@components/shared/Section/SectionTitle.astro'
import SectionDescription from '@components/shared/Section/SectionDescription.astro'
import SectionBody from '@components/shared/Section/SectionBody.astro'
import ProjectCard, { type Layout } from './ProjectCard.astro'

export interface Image {
  url: string
  class?: string
  alt?: string
}

export interface Project {
  title: string
  description: string
  image: Image
  company: string
  link: string
  layout?: Layout
  badges?: any[]
}

const PROJECTS: Project[] = [
  {
    title: 'Classroom',
    description: 'Ultimate tool for live chess instruction',
    image: { url: './classroom.webp', class: 'w-[510px]', alt: 'Chessable classroom' },
    company: 'Chessable',
    link: 'https://www.chessable.com/getclassroom/',
    layout: { backgroundColor: '#0F5A8A' },
    badges: [
      ICONS_MAP.react,
      ICONS_MAP.redux,
      ICONS_MAP.typescript,
      ICONS_MAP.php,
      ICONS_MAP.sass,
      ICONS_MAP.webpack,
      ICONS_MAP.jest
    ]
  },
  {
    title: 'Cupra configurator',
    description: 'Vehicle customization platform for car shoppers',
    image: {
      url: './car-configurator-seat.webp',
      class: 'w-[555px]',
      alt: 'Cupra car configurator'
    },
    company: 'NTT Data',
    link: 'https://www.cupraofficial.es/configurador',
    layout: {
      backgroundColor: '#404346'
    },
    badges: [
      ICONS_MAP.react,
      ICONS_MAP.typescript,
      ICONS_MAP.nodeJS,
      ICONS_MAP.sass,
      ICONS_MAP.jest,
      ICONS_MAP.figma
    ]
  },
  {
    title: 'Playgami console',
    description: 'SaaS platform for game publishers',
    image: {
      url: './playgami-console.webp',
      class: 'w-[570px] border-l-[3px] border-[#090E1B]',
      alt: 'Playgami console'
    },
    company: 'Scopely',
    link: 'https://console.playgami.scopely.com',
    layout: {
      backgroundColor: '#4901DF'
    },
    badges: [
      ICONS_MAP.react,
      ICONS_MAP.redux,
      ICONS_MAP.typescript,
      ICONS_MAP.cypress,
      ICONS_MAP.jest,
      ICONS_MAP.sass,
      ICONS_MAP.figma
    ]
  },
  {
    title: 'Player Journey',
    description: 'Channel orchestration tool for player communications',
    image: {
      url: './player-journey.webp',
      class: 'w-[540px] shadow-none -mb-3',
      alt: 'Scopely Player Journey'
    },
    company: 'Scopely',
    link: '',
    layout: {
      backgroundColor: '#246154'
    },
    badges: [
      ICONS_MAP.react,
      ICONS_MAP.redux,
      ICONS_MAP.typescript,
      ICONS_MAP.cypress,
      ICONS_MAP.jest,
      ICONS_MAP.sass,
      ICONS_MAP.figma
    ]
  },
  {
    title: 'In-app Visual Composer',
    description: 'Code-free in-app message editor',
    image: {
      url: './visual-editor.webp',
      class: 'w-[480px]',
      alt: 'Playgami in-app visual editor'
    },
    company: 'Scopely',
    link: '',
    layout: {
      backgroundColor: '#992200'
    },
    badges: [
      ICONS_MAP.react,
      ICONS_MAP.redux,
      ICONS_MAP.typescript,
      ICONS_MAP.cypress,
      ICONS_MAP.jest,
      ICONS_MAP.sass,
      ICONS_MAP.figma
    ]
  },
  {
    title: 'Travel Apps',
    description: 'Smart travel apps for travel operators',
    image: {
      url: './special-tours-apps.webp',
      class: 'w-[480px] shadow-none',
      alt: 'Travel apps'
    },
    company: 'Special Tours',
    link: '',
    layout: {
      backgroundColor: '#744306'
    },
    badges: [ICONS_MAP.ionic, ICONS_MAP.angular, ICONS_MAP.typescript, ICONS_MAP.php]
  }
]
---

<Section class="scroll-mt-[62px] bg-gray-50 px-6" id="projects">
  <SectionTitle>Projects</SectionTitle>
  <SectionDescription>Some of my featured works (Websites, Apps, SaaS solutions)</SectionDescription
  >
  <SectionBody>
    <div class="mx-auto max-w-screen-xl columns-1 gap-10 lg:columns-2">
      {
        PROJECTS.map((project) => (
          <div class="bottom mb-9">
            <ProjectCard project={project} />
          </div>
        ))
      }
    </div>
  </SectionBody>
</Section>
