---
interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<div
  class:list={[
    'leading-sm inline-flex items-center gap-1 rounded-full border bg-white px-2 py-0.5 text-xs font-light text-gray-500',
    className
  ]}
>
  <slot />
</div>
