---
import Section from '@components/shared/Section.astro'
import SkillCard from './SkillCard.astro'
import { ICONS_MAP } from '../shared/constants'

const SKILLS: { name: string; icon: any; iconClass?: string }[] = [
  ICONS_MAP.react,
  ICONS_MAP.vue,
  ICONS_MAP.angular,
  ICONS_MAP.nodeJS,
  ICONS_MAP.tailwindCSS,
  ICONS_MAP.typescript,
  ICONS_MAP.astro,
  ICONS_MAP.jest,
  ICONS_MAP.cypress,
  ICONS_MAP.figma,
  ICONS_MAP.sass,
  ICONS_MAP.reactQuery,
  ICONS_MAP.redux,
  ICONS_MAP.webpack,
  ICONS_MAP.swc,
  ICONS_MAP.ionic,
  ICONS_MAP.firebase,
  ICONS_MAP.php,
  ICONS_MAP.laravel,
  ICONS_MAP.docker
]
---

<Section title="Skills & Tools">
  <div class="skills mx-auto max-w-screen-lg gap-5">
    {
      SKILLS.map(({ name, icon, iconClass }) => (
        <SkillCard name={name} icon={icon} iconClass={iconClass} />
      ))
    }
  </div>
</Section>

<style>
  .skills {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(0, 120px));
  }
</style>
