---
import SocialLink from './SocialLink.astro'
import LinkedinIcon from '@components/shared/icons/Linkedin.astro'
import GithubIcon from '@components/shared/icons/Github.astro'
import TwitterIcon from '@components/shared/icons/Twitter.astro'

const SOCIAL_LINKS: { url: string; class?: string; icon: any }[] = [
  {
    url: 'https://www.linkedin.com/in/fran-carmona',
    class: 'hover:text-blue-500',
    icon: LinkedinIcon
  },
  {
    url: 'https://github.com/francarmona',
    icon: GithubIcon
  },
  {
    url: 'https://twitter.com/frncar',
    icon: TwitterIcon
  }
]
---

<ul class="flex gap-4">
  {
    SOCIAL_LINKS.map(({ url, class: className, icon: Icon }) => (
      <li>
        <SocialLink url={url} class={className}>
          <Icon />
        </SocialLink>
      </li>
    ))
  }
</ul>
