---
import SocialLink from './SocialLink.astro'
import Icon from '@components/Icon.astro'

const SOCIAL_LINKS: { url: string; class?: string; icon: string; label: string }[] = [
  {
    url: 'https://www.linkedin.com/in/fran-carmona',
    class: 'hover:text-blue-500',
    icon: 'linkedin',
    label: 'Go to Fran Linkedin acccount'
  },
  {
    url: 'https://github.com/francarmona',
    icon: 'github',
    label: 'Go to Fran Github acccount'
  },
  {
    url: 'https://twitter.com/frncar',
    icon: 'twitter',
    label: 'Go to Fran Twitter acccount'
  }
]
---

<ul class="flex gap-4">
  {
    SOCIAL_LINKS.map(({ url, class: className, icon, label }) => (
      <li>
        <SocialLink url={url} label={label}>
          <Icon icon={icon} class:list={['h-5 w-5', className]} />
        </SocialLink>
      </li>
    ))
  }
</ul>
