---
import ThemeToggle from './ThemeToggle.astro'
---

<header
  class="sticky top-0 z-10 border-b border-slate-900/10 bg-white px-6 backdrop-blur-lg dark:bg-gray-700"
>
  <div class="mx-auto flex max-w-screen-xl items-center justify-between py-3">
    <div class="flex items-center gap-2 text-blue-600 dark:text-white/85">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="35" height="35">
          <g fill="currentColor">
            <path
              d="M31.2,26.8c-2.1-2.1-5.6-2.1-7.7,0L4.1,46.1c-1,1-1.6,2.4-1.6,3.9s0.6,2.8,1.6,3.9l19.4,19.3c1.1,1.1,2.5,1.6,3.9,1.6
						 c1.4,0,2.8-0.5,3.9-1.6c2.1-2.1,2.1-5.6,0-7.7L15.7,50l15.5-15.5C33.3,32.4,33.3,28.9,31.2,26.8z"
            ></path>
            <path
              d="M95.9,46.1L76.5,26.8c-2.1-2.1-5.6-2.1-7.7,0s-2.1,5.6,0,7.7L84.3,50L68.8,65.5c-2.1,2.1-2.1,5.6,0,7.7
						 c1.1,1.1,2.5,1.6,3.9,1.6s2.8-0.5,3.9-1.6l19.4-19.3c1-1,1.6-2.4,1.6-3.9S96.9,47.2,95.9,46.1z"
            ></path>
            <path
              d="M58.1,25.5c-2.9-0.9-6,0.6-6.9,3.5L38.4,67.6c-1,2.9,0.6,6,3.5,6.9c0.6,0.2,1.2,0.3,1.7,0.3c2.3,0,4.4-1.5,5.2-3.7
						 l12.8-38.7C62.6,29.5,61,26.4,58.1,25.5z"
            ></path>
          </g>
        </svg>
      </a>
      <span class="text-xl font-bold">Fran Carmona</span>
    </div>
    <ThemeToggle />
  </div>
</header>
