---
import { Image } from 'astro:assets'
import FranCarmonaImage from '@assets/images/profile.webp'
---

<section class="px-6 py-12">
  <div class="mx-auto grid max-w-screen-xl gap-8 md:grid-cols-12">
    <div class="md:col-span-7">
      <p class="mb-6 text-xl font-light tracking-wide text-gray-500 dark:text-gray-400 sm:text-2xl">
        Hey, I'm Fran <span class="wave">👋</span>
      </p>
      <h1 class="text-3xl font-extrabold dark:text-white/85 sm:text-4xl">
        Fullstack developer based in ☀️ Barcelona
      </h1>
      <p
        class="mb-8 mt-6 text-xl font-light tracking-wide text-gray-500 dark:text-gray-400 sm:text-2xl"
      >
        Building tomorrow's web today. <br />Crafting seamless and intuitive user experiences while
        having fun along the way.
      </p>
      <div class="flex flex-col items-center gap-6 sm:flex-row">
        <a
          href="#projects"
          class="rounded-lg bg-blue-600 px-5 py-2.5 font-medium tracking-wide text-white hover:bg-blue-600/90 focus:outline-none focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-700 sm:px-5 sm:py-3"
          >View my work</a
        >
        <a href="#career" class="font-medium tracking-wide text-blue-600 hover:text-blue-500"
          >More about me</a
        >
      </div>
    </div>
    <Image
      class="mx-auto max-h-[560px] w-auto rounded-xl md:col-span-5"
      src={FranCarmonaImage}
      alt="Fran Carmona portrait"
    />
  </div>
</section>
<style>
  .wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: 2;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
</style>
