---
import Marfeel from '@components/shared/icons/Marfeel.astro'
import NTTData from '@components/shared/icons/NTTData.astro'
import Scopely from '@components/shared/icons/Scopely.astro'
import Section from '@components/shared/Section/Section.astro'
import Chessable from '@components/shared/icons/Chessable.astro'

const COMPANIES = [
  { icon: Scopely, class: 'w-14 sm:w-16', url: 'https://www.scopely.com' },
  { icon: Chessable, class: 'w-16 sm:w-20', url: 'https://www.chessable.com' },
  { icon: NTTData, class: 'w-16 sm:w-20', url: 'https://www.nttdata.com' },
  { icon: Marfeel, class: 'w-20 sm:w-24', url: 'https://www.marfeel.com' }
]
---

<Section class="bg-gray-50 px-6 py-8 dark:bg-transparent sm:py-8 md:py-8">
  <div
    class="flex flex-wrap items-center justify-center gap-x-28 gap-y-6 text-gray-500 dark:text-gray-400"
  >
    {
      COMPANIES.map(({ icon: Icon, class: className, url }) => (
        <a href={url} target="_blank" rel="noopener noreferrer">
          <Icon class:list={['hover:text-gray-900 dark:text-white/90', className]} />
        </a>
      ))
    }
  </div>
</Section>
