<div class="flex flex-col items-center justify-center">
  <h1 class="mt-32 text-8xl font-extrabold text-blue-600 dark:text-blue-500">404</h1>
  <h2 class="mt-6 text-4xl font-bold text-gray-800 dark:text-white/90">Page not found</h2>
  <p class="mb-8 mt-6 text-xl text-gray-700 dark:text-white/85">
    Oops! The page your are looking for could not be found.
  </p>
  <a
    href="/"
    class="rounded-lg bg-blue-600 px-5 py-3 text-center font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-200 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-700"
    >Take me home</a
  >
</div>
