---
import Section from '@components/shared/Section/Section.astro'
import SectionTitle from '@components/shared/Section/SectionTitle.astro'
import Certification from '@components/shared/icons/Certification.astro'
import Briefcase from '@components/shared/icons/Briefcase.astro'
import { ICONS_MAP } from '@components/shared/constants'
import SectionBody from '@components/shared/Section/SectionBody.astro'
import SectionDescription from '@components/shared/Section/SectionDescription.astro'
import CareerCard from './CareerCard.astro'

const CAREER = [
  {
    title: 'Senior software developer',
    subtitle: '2021 - 2024 | Scopely',
    icon: Briefcase,
    description:
      'Implemented a SaaS platform for game developers and publishers using a micro-frontend architecture with module federation. Participated in architectural decisions for the product and provided technical support to the team.',
    badges: [
      ICONS_MAP.react,
      ICONS_MAP.redux,
      ICONS_MAP.typescript,
      ICONS_MAP.sass,
      ICONS_MAP.jest,
      ICONS_MAP.reactTestingLibrary,
      ICONS_MAP.cypress,
      ICONS_MAP.webpack,
      ICONS_MAP.swc,
      ICONS_MAP.figma
    ]
  },
  {
    title: 'Senior software developer',
    subtitle: '2021 | Chessable',
    icon: Briefcase,
    description:
      'Crafted Chessable Classroom, a platform for live chess instruction, and implemented high-quality code practices across the codebase while introducing new coding standards.',
    badges: [
      ICONS_MAP.react,
      ICONS_MAP.typescript,
      ICONS_MAP.php,
      ICONS_MAP.sass,
      ICONS_MAP.jest,
      ICONS_MAP.webpack
    ]
  },
  {
    title: 'Senior software developer',
    subtitle: '2019 - 2021 | NTT Data',
    icon: Briefcase,
    description:
      'Developed a platform to manage the logistics of manufactured cars by SEAT. Built Cupra Car Configurator tool. Crafted a platform for Inditex to facilitate operations with their providers. Provided mentorship to junior frontend developers, focusing on JS design patterns.',
    badges: [
      ICONS_MAP.react,
      ICONS_MAP.redux,
      ICONS_MAP.nodeJS,
      ICONS_MAP.typescript,
      ICONS_MAP.materialUI,
      ICONS_MAP.jest,
      ICONS_MAP.reactTestingLibrary,
      ICONS_MAP.cypress,
      ICONS_MAP.webpack,
      ICONS_MAP.figma
    ]
  },
  {
    title: 'Fullstack developer',
    subtitle: '2019 | Marfeel',
    icon: Briefcase,
    description:
      'Contributed to the development of a platform to allow publishers to customize their monetization strategies for mobile websites.',
    badges: [
      ICONS_MAP.vue,
      ICONS_MAP.typescript,
      ICONS_MAP.php,
      ICONS_MAP.sass,
      ICONS_MAP.jest,
      ICONS_MAP.cypress,
      ICONS_MAP.webpack
    ]
  },
  {
    title: 'Mobile Web Specialist',
    subtitle: '2017 - 2018 | Google',
    icon: Certification,
    description:
      'Javascript design patterns, responsive web design, web accessibility, PWAs, web tooling and automation, performance optimization, caching, and offline web apps.',
    badges: [ICONS_MAP.html, ICONS_MAP.css, ICONS_MAP.javascript]
  },
  {
    title: 'Fullstack developer',
    subtitle: '2014 - 2019 | Special Tours',
    icon: Briefcase,
    description:
      'Built a CRM to manage travel packages and developing fully-featured hybrid mobile apps for trip management.',
    badges: [
      ICONS_MAP.angular,
      ICONS_MAP.typescript,
      ICONS_MAP.ionic,
      ICONS_MAP.php,
      ICONS_MAP.sass,
      ICONS_MAP.jest,
      ICONS_MAP.webpack
    ]
  },
  {
    title: 'Fullstack developer',
    subtitle: '2013 - 2014 | TLS Group',
    icon: Briefcase,
    description:
      'Created an innovative platform to centralize and optimize property management workflows for a real estate agency and merged multiple real estate websites into a flexible, modularized, and customized one.',
    badges: [ICONS_MAP.html, ICONS_MAP.css, ICONS_MAP.javascript, ICONS_MAP.php]
  },
  {
    title: 'BSc in Telecom. Engineering',
    subtitle: '2006 - 2010 | Málaga School of Telecom. Engineering',
    icon: Certification,
    description:
      "Acquired a strong foundation in telecom engineering principles and practices, and received the Last Year Project award for developing 'Web Applications for Mobile Device Location'."
  }
]
---

<Section class="mx-auto max-w-screen-xl scroll-mt-[62px] px-6" id="career">
  <SectionTitle>Career and qualifications</SectionTitle>
  <SectionDescription>My professional journey and educational background</SectionDescription>
  <SectionBody>
    <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
      {CAREER.map((career) => <CareerCard career={career} />)}
    </div>
  </SectionBody>
</Section>
