---
import SpeedInsights from '@vercel/speed-insights/astro'
import Header from '@components/Header/Header.astro'
import Footer from '@components/Footer/Footer.astro'

interface Props {
  title: string
}

const { title } = Astro.props

console.log(`process.env: ${JSON.stringify(process.env.VERCEL_ANALYTICS_ID)}`)
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex min-h-[100vh] flex-col dark:bg-gray-950">
    <Header />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
  <SpeedInsights />
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
  }
</style>
